@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="padding-left : 6%;">Welcome to hospital system</h1>
    <img src="~/AppFile/Home/home-hospital.jpg"/><!--EndFragment-->
</div>

<div class="row">
</body>
</htm
</div>