@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="padding-left : 6%;">Welcome to hospital system</h1>
    <<img src="http://media2.govtech.com/images/940*529/hospital1.jpg" alt="Картинки по запросу hospital" /><!--EndFragment-->
</div>

<div class="row">
</body>
</htm
</div>